.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-card {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem !important
}

.top-container {
  display: flex;
  align-items: center
}

.product-image {
  border-radius: 10px;
}

.middle-container {
  background-color: #eee;
  border-radius: 12px
}

.prep-time {
  font-size: 15px;
  color: #272727;
  font-weight: bold
}

.amount {
  color: #5957f9;
  font-size: 16px;
  font-weight: bold
}


.products-section{
  height: 90vh;
  overflow: auto;
}

.button-selection{
  background-color: #0000;
  border: 2px solid #5957f9;
  border-radius: 5px;
  color: #5957f9;
}

.button-selection:hover{
  background-color: #5957f9;
  border: 2px solid #0000;
  color: #fff;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}